@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Barlow:wght@600&family=Dancing+Script&family=Fraunces:ital,wght@0,700;1,900&family=Karma:wght@300&family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --floral-white: rgba(255, 250, 240, 0.733);
  --black: hsl(0, 100%, 0%);
  --red: rgb(175, 65, 83);
  --font: "Fraunces", serif;
}

body {
  background-color: var(--black);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blueviolet; */
  width: 95%;
  padding: 1rem;
  overflow-x: hidden;
  /* height: 90vh; */
}

.game {
  /* border:4px solid saddlebrown; */
  display: flex;
  justify-content: space-between;
  width: 75vw;
  height: auto;
}

.section {
  /* border: 2px solid palegoldenrod; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 45rem;
  /* justify-content: ; */
}

.rank {
  margin-top: 2rem;
  /* border: 2px solid darkblue; */
  /* overflow-y: auto;
    overflow-x: hidden; */
  height: max-content;
  width: 100%;
  max-width: 25rem;
  /* width: 25rem; */
  color: white;
  /* padding: 1rem; */
}

.headers {
  color: var(--floral-white);
  font-size: 2.5rem;
  font-family: var(--font);
  /* border: 2px solid green; */
  width: 100%;
  text-align: center;
  /* padding: 1rem; */
}

#ctx {
  background-color: var(--white);
  border-radius: 1%;
  height: 28rem;
  width: 100%;
  /* aspect-ratio: 5 / 3; */
  /* width: 40rem; */
}

.data {
  position: relative;
  bottom: 20%;
  left: 2%;
  width: 100%;
  display: flex;
  /* border: 2px solid khaki; */
  justify-content: center;
}

p {
  color: white;
}

#name {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  width: 45%;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 2%;
}

.arrow-icon {
  font-size: 2rem;
}

.arrow-icon:hover {
  cursor: pointer;
}

h2 {
  color: var(--floral-white);
  font-size: 1.5rem;
  font-weight: 500;
}

.info {
  width: 100%;
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
}

.btn {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #972e3f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  align-items: center;
  visibility: hidden;
}

.btn:hover {
  background: #af4153;
  cursor: pointer;
  text-decoration: none;
}

.highScore {
  color: var(--floral-white);
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  align-items: center;
}

th,
td {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 100;
  /* border-bottom: 1px solid white; */
  text-align: center;
}

th {
  background-color: var(--red);
  color: white;
}

td {
  background-color: #1c1c1c;
}

tbody tr:nth-child(even) td {
  background-color: #2c2c2c;
}

/* Media Queries for Responsiveness */

@media (max-width:1450px){
  .game{
    flex-direction: column;
    align-items: center;
  }

  .data {
    position: relative;
    top: -8rem; 
    left: 1rem; 
    width: 100%; 
    display: flex;
    justify-content: center;
  }

  /* table{
    width: 150%;
  } */
  
  .rank{
    max-width: 35rem;
  }
}

 @media (max-width: 768px) {
  #ctx{
    height: 20rem;
  }
 }